.mainline-move{
  margin-right: 0.5em;
  font-family: 'Chess', 'Noto Sans', sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.active {
  font-weight: bold;
  background: #d1e4f6;
  border-radius: 3px;
}
.comment {
  margin-right: 0.5em;
  font-family: 'Chess', 'Noto Sans', sans-serif;
  color: darkblue;
}

.variation-d-1 {
  margin-left: 0.7em;
  flex-basis: 100%;
}

.variation-d-1 .variation-move {
  margin-right: 0.5em;
  font-family: 'Chess', 'Noto Sans', sans-serif;
  cursor: pointer;
}
.variation-d-1 .variation-move:nth-last-child(1) {
  margin-right: 0;
}

.variation-d-2 .variation-move {
  margin-right: 0.5em;
  font-family: 'Chess', 'Noto Sans', sans-serif;
  font-style: italic;
  cursor: pointer;
}

.variation-d-2 .variation-move:nth-last-child(1) {
  margin-right: 0.2em;
}
