.mainline-move{
  margin-right: 0.5em;
  font-family: 'Chess', 'Noto Sans', sans-serif;
  font-weight: bold;
}
.comment {
  margin-right: 0.5em;
  font-family: 'Chess', 'Noto Sans', sans-serif;
  color: darkblue;
}
